body p{
    font-size: 20px;
    color: hsl(30, 10%, 34%);
}

body {
    
    margin: 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10%;
}

.img-omelette {
    margin: 0;
 }


body h2{
    font-family: 'Young Serif';
    font-weight: 400;
    color: hsl(14, 45%, 36%);
    padding-left: 30px;
    font-size: 35px;
}

body p, ul, ol {
    margin-left: 25px;
    margin-right: 10%;
    font-family: 'Outfit';
    font-weight: 400;
    color:hsl(30, 10%, 34%);
    line-height: 1.5;
}

.list-instructions li::marker {
    font-weight: bold;
}

.title-omelette {
    font-family: 'Young Serif';
    font-weight: 300;
    text-align: left;
    font-size: 35px;
    color: hsl(24, 5%, 18%);
    margin-left: 25px;
}

.title-preparation {
    font-weight: 400;
    font-size: 18px;
    color: hsl(332, 51%, 32%);
    
}

.preparation-block {
    background-color: hsl(330, 100%, 98%);
    border-radius: 25px;
    margin: 25px;
    text-align: left;
    padding: 15px 20px 15px 15px;
    line-height: 1.8;
}

ul, ol {
    line-height: 1.8;
}

hr {
    width: 85%;
    background-color: hsl(33, 8%, 54%);;
}

.nutrition {
    padding-left: 3dvh;
}

.calories {
    text-align: left;
}

