.body-block p, span{
    font-size: 20px;
    color: hsl(30, 10%, 34%);
}

body {
    margin: 0;
}

.body-block {
    margin: 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10%;
}

.img-omelette {
    margin: 0;
 }

.body-block h2{
    font-family: 'Young Serif';
    font-weight: 400;
    color: hsl(14, 45%, 36%);
    padding-left: 30px;
    font-size: 35px;
}

.body-block p, ul, ol, span {
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Outfit';
    font-weight: 400;
    color:hsl(30, 10%, 34%);
    line-height: 1.5;
}

.list-instructions li::marker {
    font-weight: bold;
}

.title-omelette {
    font-family: 'Young Serif';
    font-weight: 300;
    text-align: left;
    font-size: 35px;
    color: hsl(24, 5%, 18%);
    margin-left: 25px;
}

.title-preparation {
    font-weight: 400;
    font-size: 18px;
    color: hsl(332, 51%, 32%);
    
}

.preparation-block {
    background-color: hsl(330, 100%, 98%);
    border-radius: 25px;
    margin: 25px;
    text-align: left;
    padding: 15px 20px 15px 15px;
    line-height: 1.8;
}

ul, ol {
    line-height: 1.8;
}

hr {
    width: 90%;
    border: none;
    height: 0.2px;
    background-color: hsl(30, 10%, 34%);
}

.calories {
    text-align: left;
}

.nutrition p {
    display: flex;
    justify-content: space-between;
    
}

.nutrition {
    padding-left: 10%;
    padding-right: 8%;
}

.nutrition span {
    margin-left:0;
}

.title-nutrition {
    padding:0;
}

.calories b {
    color: hsl(14, 45%, 36%);
    display: inline-block;
    width: 100px;
}

@media (min-width: 1024px) {
    .body-block {
        margin: 10% auto;
        border-radius: 20px;
        width: 70%;
        background-color:hsl(0, 0%, 100%);
    }

    body {
        background-color: hsl(30, 54%, 90%);
    }

    .img-omelette {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
}